@import "../variables";
@import "../mixins";

.header-pets {
    padding: 23px 0;
    background-color: #fafafa;

    &__wrap {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        display: flex;
        flex-direction: column;
    }

    &__nav-list {
        display: flex;

    }

   

}