@import "../variables";
@import "../mixins";

.about {
    background-color: #fafafa;
    padding: 88px 0;

   &__wrap {
       display: flex;
       justify-content: center;
   }

   &__content {
       max-width: 840px;
       display: flex; 

       @include b(768) {
           display: flex;
           flex-direction: column;
           align-items: center;
       }
   }

   &__img {
       width: 35%;
       display: flex;
       align-items: center;

       img {
           width: 100%;
           max-width: 300px;
           max-height: 412px;
       }
   }

   &__descr {
        width: 65%;
        padding-left: 122px;
        display: flex;
        flex-direction: column;
        justify-content: center;    

         @include b(1024) {
             padding-left: 80px;
         }

        @include b(768) {
            align-items: center;
            padding: 40px 0;
            text-align: center;
        }             
   }

   &__caption {
       font-size: 35px;
       color: #545454;
       line-height: 1.28;
       padding-bottom: 32px;
       width: 330px;
       letter-spacing: 1.8px;
   }

   &__text {
       font-size: 15px;
       font-family: $arial;
       color: #4c4c4c;
       line-height: 1.6;
       letter-spacing: -0.1px;

       :last-child {
        padding-bottom: 0;
    }

   }
   
}

