@import "../variables";
@import "../mixins";

.about {
    
    background-color: #fff;

    &__wrap {
        padding: 113px 0;
        display: flex;
        justify-content: center;

        @include b(768) {
            flex-direction: column;
        }
    }

    &__img {
        width: 50%;       
        display: flex;
        justify-content: center;    
        
        @include b(768) {
            width: 100%;  
            margin-bottom: 50px;
        }

        img {
            max-width: 300px; 
        }
    }    

    &__descr__wrap {
        width: 50%;
        display: flex;
        align-items: center;    
        
        @include b(768) {
            width: 100%;  
            justify-content: center;
        }
    }

    &__caption {
        display: block;
        max-width: 315px;
        font-size: 35px;
        color: #545454;
        line-height: 1.28;
        padding: 0 0 30px;
        letter-spacing: 2px;
    }

    &__text {
       font-family: $arial;
       display: block;
       max-width: 437px; 
       font-size: 15px;
       color: #4c4c4c;
       line-height: 1.6;
       letter-spacing: -0.15px;
    }

    &__text--title {
        padding-bottom: 25px;
    }

}

