@import "../variables";
@import "../mixins";

.donation {
    background-color: #f6f6f6;
    padding: 63px 0 82px;

    &__wrap {
        display: flex;
        padding-left: 13px;
        max-width: 957px;

        @include b(1024) {
            padding-left: 0;
        }

        @include b(768) {
            flex-direction: column;        
        }


    }

    &__img {
        width: 55%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 17px;

        @include b(1024) {
            width: 45%;
        }

        @include b(768) {
            width: 100%;
            padding-bottom: 50px;
        }

        img {
            max-width: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
        }
    }

    &__descr {
        width: 45%;
        padding-left: 52px;

        @include b(1024) {
            width: 55%;
        }

        @include b(768) {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
        }

        .caption {
            color: #545454;
            padding-bottom: 20px;
        }        
    }   

    &__title {
        font-size: 15px;
        color: #545454;
        padding-bottom: 10px;
        display: block;
        letter-spacing: 1.1px;       
    }

    &__tel {
        display: flex;
        background-color: #f1cdb3;
        border-radius: 10px;
        align-items: center;
        padding: 7px 7px 7px 13px;
        margin-bottom: 27px;
        max-width: 323px;  
        
        @include b(479) {
            padding: 7px 2px 7px 10px;
        }
     
        

        span {
            font-family: 'Times New Roman';
            font-size: 20px;
            color: #292929;
            line-height: .25;
            letter-spacing: 1.3px;
            width: 100%;         

            @include b(479) {
                letter-spacing: 0.5px;
            }

        }
    }

    &__icon {
        width: 35px;
        height: 32px;
        margin-right: 14px;      

        img {
           max-width: 100%;
           max-height: 100%;
           width: auto;
           height: auto;
        }
    }

    &__text {
        font-family: $arial;
        font-style: italic;
        font-size: 12px;
        color: #b2b2b2;
        line-height: 1.6;
        display: block;
    }
}

