@import "../variables";
@import "../mixins";

.footer {
    background-size: cover;
    background-position: 50% 50%;

    &__wrap {
        padding: 70px 0 44px 0;
    }

    &__row {
        display: flex;
        max-width: 897px;
        width: 100%;
        margin: 0 -70px;

        @include b(1024) {
            margin: 0 -30px;
        }

        @include b(768) {
            flex-direction: column;
            text-align: center;
            justify-content: center;
            text-align: center;
            margin: 0;
        }
    }

    &__column {
        width: 50%;
        padding: 0 70px;

        @include b(1024) {
            padding: 0 30px;
        }

        @include b(768) {
            width: 100%;
            padding: 0;
        }        
    }

    .caption {
        color: #fff;
        padding-bottom: 29px;
    }

    &__item {
        display: flex;
        align-items: center;
        padding-bottom: 20px;

        @include b(768) {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        img {
            width: 37px;
            height: 42px;
        }

        span {
            font-family: 'Times New Roman';
            font-size: 20px;
            color: $beige;
            line-height: 1.25;
            letter-spacing: 1.4px;
            padding-left: 21px;
            display: block;

        }
        
    }
}

