@import "../variables";
@import "../mixins";

.header { 

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 170px;
        @include b(768) {
            height: 100px;
        }
    }

    &__wrap--pets {
        background-color: #fafafa;
    }
    
    &__logo {

        &-link {

            &:hover {
                
                .header__logo {

                    &-caption {
                        color: $white;
                    }

                    &-text {
                        color: $beige;
                    }
                }
            }
        }

        &-caption {
            font-size: 32px;
            display: block;
            color: $beige;
            line-height: 1.2;
            letter-spacing: 1.6px;
            @include trs;
        }

        &-caption--pets {          
            color: #545454;          
        }

        &-text {
            font-size: 13px;
            font-family: $arial;
            display: block;
            color: $white;
            letter-spacing: 1.5px;
            @include trs;
        }

        &-text--pets {
            color: #292929;
        }
    }

    &__nav {
        @include b(768) {
            position: fixed;
            background-color: #fff;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 10;
            opacity: 0;
            visibility: hidden;
            transform: translateX(-100%);

            @include trs;

            &.active {
                opacity: 1;
                visibility: visible;
                transform: translateX(0);
            }
        }
    
        &-list {
            display: flex;
            align-items: center;
            margin: 0 -18px;

            @include b(768) {
                display: block;
            }
        }

        &-item {
            padding: 0 18px;

            @include b(768) {
                text-align: center;
                padding: 10px 0;
            }

            a {
                font-family: $arial;
                color: white;
                position: relative;

                @include b(768) {
                    color: $main-color;
                    font-size: 26px;
                }

                &:before {
                    position: absolute;
                    content: '';
                    height: 3px;
                    background-color: $beige;
                    bottom: -8px;
                    left: 0;
                    width: 0;
                    @include trs;
                }
                
                &:hover {

                    &:before {
                        width: 100%;
                    }
                }
            }           
        }

        &-item--pets {
            a {
                color: #545454;
            }
        }
            
    }

    &__btn-menu {
        display: none;
        @include b(768) {
            display: block;
            position: relative;
            z-index: 11;
            width: 25px;
            height: 20px;


            &.active {

                span {
                    background-color: $main-color;

                    &:nth-child(1) {                        
                        transform: rotate(-45deg);
                        top: 9px;
                    }

                    &:nth-child(2) {                        
                         opacity: 0;
                    }

                    &:nth-child(3) {                        
                        transform: rotate(45deg);
                        top: 9px;
                    }
                }
            }

            span {
                position: absolute;
                left: 0;    
                display: block;
                width: 25px;
                height: 3px;
                border-radius: 3px;
                background-color: $white;
                @include trs;

                &:nth-child(1) {
                    top: 0;
                }

                &:nth-child(2) {
                    top: 9px;
                }

                &:nth-child(3) {
                    top: 18px;            
                }
            }

        }
    }

    
}

