@import "../variables";
@import "../mixins";

.our-friends {
    padding: 70px 0;
    background-color: #f6f6f6;

    .caption {
        max-width: 410px;
        margin: 0 auto 70px;
        text-align: center;
    }

    &__outer {
        position: relative;
        margin-bottom: 51px;

        .button-next {
            position: absolute;
            z-index: 1;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            border: 2px solid $beige;   
            display: flex;
            justify-content: center;
            align-items: center; 

            span {
                position: absolute;
                display: block;
                width: 15px;
                height: 2px;
                background-color: #000;
                top: 22px;
                left: 15px;
            }
        }

        .button-next:after {
            content: '';
            position: absolute;
            width: 7px;
            height: 7px;
            border-right: 1px solid #000;
            border-top: 1px solid #000;         
            transform: rotate(45deg);
            top: 20px;
            right: 15px;
        }

        .button-prev {
            position: absolute;
            z-index: 1;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            border: 2px solid $beige;            

            span {
                position: absolute;
                display: block;
                width: 15px;
                height: 2px;
                background-color: #000;
                top: 22px;
                left: 15px;
            }
        }

        .button-prev:before {
            content: '';
            position: absolute;           
            width: 7px;
            height: 7px;
            border-left: 1px solid #000;
            border-bottom: 1px solid #000;         
            transform: rotate(45deg);
            top: 20px;
            left: 15px;
        }
    }

    &__wrap {
        max-width: 960px;
        margin: 0 auto; 
    }

    &__inner {
        display: flex;
        margin-bottom: 20px;       
    }

    &__inner--pets {
        flex-wrap: wrap;
    }

    &__item {
        width: 33.33%;
        padding: 0 25px;

        :hover {
            box-shadow: 0px 2px 30.1px 4.9px rgba(13, 13, 13, 0.04);
        }

        @include b(1024) {
            padding: 0 15px;
        } 
    }

    &__item--pets {
        width: 25%;
    }

    &__box {
        background-color: #fafafa;
        border-radius: 5px;
        padding: 10px 10px 35px;
    }

    &__img {
        height: 270px;
 
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 27px;

        img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }
    }

    &__name {
        display: block;
        font-size: 20px;
        text-align: center;
        margin-bottom: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__more { 
        width: 188px;
        margin: 0 auto;
    }

    &__btn {
        width: 265px;
        margin: 0 auto;
    }



}




